div.multi-diagram > div {
    margin-bottom: 5px;
}

div.multi-diagram div.btn + .btn {
    margin-left: unset;
}

div.multi-diagram .diagram-button {
    min-width: unset;
}

div.multi-diagram .add-new-diagram {
    margin: 0 0 10px 82%;
}

div.multi-diagram .diagram-entry {
    display: flex;
}

div.diagram-entry .diagram-name {
    width: 75%;
    margin-right: 5%;
}

div.diagram-entry .remove-diagram {
    width: 20%;
}